.input{

    height: 30px;
    width: 500px;
    border-radius: 10px;

}
.addtask{
    background-color: blue;
    height: 40px;
    position: relative;
    top:3px ;
    left: 5px;
}
.addTaskDiv{
    width: 700px;
    height: 200px;
    background-color:black;
    color: yellow;
}
.table{
   color: antiquewhite;
    width: 700px;
    background-color:black;
}
.deleteTask{
    position: relative;
    left: 100px;
}
.editTask{
    position: relative;
    left: 150px;

}